// common
*{
  margin: 0;
  padding: 0;
}
//variable
$color-bk: black;
$color-c4: #c4c4c4;
$color-dp: #8068AD;
$color-pp: #C8B5C8;
$color-yel: #EDEBB2;
$color-cr: #FFFEF9;
$border-bk: 1px solid black;
$border-red: 1px solid red;
$per100: 100%;
//class-set
@mixin flex-align-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin border($px, $color) {
  border: $px solid $color;
}
@mixin width-height($width, $height){
  width: $width;
  height: $height;
  @include flex-align-justify(center, flex-start);
  flex-direction: column;
}
//style
#root{
  @include width-height(100vw, 100vh);
  #con{
    @include width-height(inherit, inherit);
    background-color: $color-pp;
    main{
      @include width-height(inherit, inherit);
      @include flex-align-justify(center, center);
      >div{
        width: inherit;
        flex-grow: 1;
        // @include border(1px, black);
      }
      >div:nth-child(1){
        @include flex-align-justify(flex-end, center);
        svg{
          @include width-height(200px, 200px);
          // @include border(1px, black);
          position: relative;
          top: -5vh;
        }
      }
      >div:nth-child(2){
        @include flex-align-justify(flex-start, center);
        >div{
          color: $color-dp;
          font-weight:  700;
          letter-spacing: 1vw;
        }
      }
    }
  }
}