* {
  margin: 0;
  padding: 0;
}

* {
  background-color: #C8B5C8;
}

#root {
  width: 100vw;
  height: 100vh;
  width: 100vw;
}

#root #search-con {
  width: 100vw;
  height: 100vh;
  background-color: #EDEBB2;
  color: #8068AD;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 10vh;
  -webkit-box-shadow: 1px 1px 10px rgba(128, 104, 173, 0.5);
          box-shadow: 1px 1px 10px rgba(128, 104, 173, 0.5);
}

#root #search-con > div {
  background-color: #EDEBB2;
  width: 80vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root #search-con > div > div:nth-child(1) {
  background-color: #EDEBB2;
  width: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #search-con > div > div:nth-child(1) > div {
  background-color: #EDEBB2;
}

#root #search-con > div > div:nth-child(2) {
  width: inherit;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #search-con > div > div:nth-child(2) ul {
  background-color: #EDEBB2;
  width: inherit;
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root #search-con > div > div:nth-child(2) ul li {
  width: 50%;
  height: 3rem;
  text-align: center;
  border-radius: 30px;
  background-color: #C8B5C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #search-con > div > div:nth-child(3) {
  background-color: #EDEBB2;
  width: inherit;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #search-con > div > div:nth-child(3) > div {
  background-color: #EDEBB2;
}

#root #search-con > div > div:nth-child(3) > div i {
  background-color: #EDEBB2;
}

#root #con {
  width: inherit;
  height: inherit;
}

#root #con header {
  width: inherit;
  height: 10%;
  background-color: #EDEBB2;
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#root #con header > div {
  width: 30%;
  height: 100%;
  background-color: #EDEBB2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #con header > div img {
  width: 80%;
  height: 80%;
  background-color: #EDEBB2;
}

#root #con header > div:nth-child(2) {
  width: 70vw;
  height: 9vh;
}

#root #con header > div:nth-child(2) > input {
  width: 90%;
  height: 50%;
  background-color: #fff;
  border-radius: 30px;
  border: none;
  padding: 1vw;
  padding-left: 2vw;
  -webkit-box-shadow: inset 1px 1px 5px rgba(128, 104, 173, 0.5);
          box-shadow: inset 1px 1px 5px rgba(128, 104, 173, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#root #con header > div:nth-child(2) > div {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

#root #con header > div:nth-child(2) > div i {
  background: none;
  color: #8068AD;
}

#root #con main {
  width: inherit;
  height: 200vh;
  position: relative;
  top: 12vh;
}

#root #con main > div {
  width: inherit;
  height: inherit;
}

#root #con main > div ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2vw;
}

#root #con main > div ul li {
  background-color: #c4c4c4;
  width: 100vw;
  height: 25vw;
}

#root #con main > div ul li:nth-child(1) {
  width: 100vw;
  height: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#root #con main > div ul li:nth-child(1) > div {
  background-color: #c4c4c4;
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#root #con main > div ul li:nth-child(1) > div div {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background-color: #8068AD;
  position: relative;
  bottom: 5vw;
  right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #con main > div ul li:nth-child(1) > div div i {
  background-color: #8068AD;
  color: #EDEBB2;
}

#root #con main > div ul:nth-child(2), #root #con main > div ul:nth-child(4), #root #con main > div ul:nth-child(6) {
  width: inherit;
  height: 25vw;
}

#root #con nav {
  width: inherit;
  height: 10vh;
  background-color: #FFFEF9;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

#root #con nav ul {
  height: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #con nav ul li {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #EDEBB2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#root #con nav ul li:hover {
  background-color: #C8B5C8;
  -webkit-transition: 1s;
  transition: 1s;
}

#root #con nav ul li i {
  color: #8068AD;
  font-size: 2em;
  background-color: #EDEBB2;
}

#root #con nav ul li i:hover {
  background-color: #C8B5C8;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=style.css.map */