// common
*{
  margin: 0;
  padding: 0;
}
//variable
$color-bk: black;
$color-c4: #c4c4c4;
$color-dp: #8068AD;
$color-pp: #C8B5C8;
$color-yel: #EDEBB2;
$color-cr: #FFFEF9;
$border-bk: 1px solid black;
$border-red: 1px solid red;
$per100: 100%;
//class-set
@mixin flex-align-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin border($px, $color) {
  border: $px solid $color;
}
@mixin width-height($width, $height){
  width: $width;
  height: $height;
}
//style
// !body 전체에 한꺼번에 배경색을 지정해주면 된다, 하지만 bgc 값이 없는 경우는 일일이 지정해야함
*{
  background-color: $color-pp;
}
#root{
  // ?100vh로 해주면 배경이 중간에 끊김
  @include width-height(100vw, 100vh);
  width: 100vw;
  // !배경색이 없는 것이 해결방안??
  // background-color: $color-pp;
  #con{
    @include width-height(inherit, inherit);
    header{
      @include width-height(inherit, 10%);
      background-color: gray;
      // !position: absolute;로 위치 고정 시켜두기
      position: absolute;
      >div{
        @include width-height(30%, $per100);
        background-color: gray;
        @include flex-align-justify(center, center);
        img{
          @include width-height(80%, 80%);
          background-color: gray;
        }
      }
    } 
    main{
      @include width-height(inherit, 200vh);
      position: relative;
      top: 12vh;
      >div{
        @include width-height(inherit, inherit);
        ul{
          list-style-type: none;
          @include flex-align-justify(center, flex-start);
          flex-direction: column;
          row-gap: 2vw;
          li{
            background-color: $color-c4;
            @include width-height(100vw, 25vw);
            // @include border(1px, #000);
          }
          li:nth-child(1){
            @include width-height(100vw, 100vw);
            @include flex-align-justify(center, center);
            flex-direction: column;
            >div{
              // !li가 아니라 div에 지정을 해줘야 bgc를 꽉 채울 수 있음
              background-color: $color-c4;
              @include width-height(inherit, inherit);
              @include flex-align-justify(flex-end, flex-end); 
              div{
                @include width-height(10vw, 10vw);
                border-radius: $per100;
                background-color: $color-dp;
                position: relative;
                bottom: 5vw;
                right: 5vw;
                @include flex-align-justify(center, center);
                i{
                  background-color: $color-dp;
                  color: $color-yel;
                }
              }
            }
          }
        }
        // ?nav로 가려지는 부분 해결
        // => 문서의 크기 때문이 아님
        // !사이 여백, 최하단의 nav fixed로 가려지는 부분
        ul:nth-child(2), ul:nth-child(4), ul:nth-child(6){
          @include width-height(inherit, 25vw);
        }
      }
    }
    nav{
      @include width-height(inherit, 10vh);
      background-color: $color-cr;
      ;
      position: fixed;
      bottom: 0;
      ul{
        // !height 값을 지정해줘야 함
        height: $per100;
        list-style-type: none;
        @include flex-align-justify(center, center);
        li{
          // !height 값을 지정해줘야 함
          height: $per100;
          flex-grow: 1;
          background-color: $color-yel;
          // @include border(1px, #fff);
          @include flex-align-justify(center, center);
          &:hover{
            background-color: $color-pp;
            transition: 1s;
          } 
          i{
            color: $color-dp;
            // !글자처럼 아이콘도 font-size로 지정해줘야 함
            font-size: 2em;
            background-color: $color-yel;
            &:hover{
              background-color: $color-pp;
              transition: 1s;
            } 
          }
        }
      }
    }
  }
}
